@charset "utf-8";

/*  Parameters  (symbol "and")
    [&0] Global = &Global
*/

/*  &0 &Global
==================================================================== */
*{outline:0;padding:0;margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html {
    height: 100%;
    /*font-family: Helvetica, Arial, sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
body {
    /*height: 100%;*/
    background-color: #a3a5a6;
    overflow-x: hidden; 
    font-size: 16px;
}
input[type='button'], input[type='submit'], input[type='checkbox'], input[type='image'], input[type='radio'], input[type='reset'], select, button { cursor: pointer; }
input[type='text'] {
    border: none;
}
input[type='text']:disabled {background-color: #fff;}
textarea:focus, input:focus{outline: none;border: none;}
textarea {max-width: 100%; max-height: 100%;}
a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
ul {
    list-style: none;
}
li {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
p {
    font-size: .8em;
    line-height: 17px;
    line-height: 1.428;
    padding-bottom: 10px;
}
img {
    max-width: 100%;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}


/*  &Other
=============================================================*/

.outer {
    padding-top: 160px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
.top {
    padding-top: 25px;
    padding-bottom: 12px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.mobile-nav {
    display: none;
}

#YMapsID {
    width: 100%;
    height: 100%;
}