@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic);
/* ==   #FontsHere (https://www.google.com/fonts)  ==*/


/*  &Global
=============================================================*/
body {
	background: #a3a5a6 url('../img/design/bg2.jpg') 0 0 repeat;
}

/*  &Other
=============================================================*/

$color1: #2c2c2c; // background color  section
$color2: #1f1f1f; // color text
$color3: #fff; // white text

$color4: #1ea9ec; // blue
$color4n1: #58c3f6; // blue light
$color4n2: #02557d; // blue dark

$color5: #f9bc0b; // yellow
$color5n1: #ffdb5d; // yellow light
$color5n2: #c35c00; // yellow dark

$color6: #ffc600; // yellow2
$color7: #ebebeb; // gray

$color8: #f6574b; // red
$color8n1: #fa7d74; // red light
$color8n2: #a62e25; // red dark


$color9: #665f5f; // text
$color10: #0b97b2; // link
$color11: #f2f2f2; // background gray


.sprite {
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
}
.sprite-before:before {
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
}
.sprite-after:after {
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
}

.button {
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-bottom-width:  2px;
	border-top-width:  2px;
	border-bottom-style: solid;
	border-top-style: solid ;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}
.search__button {
	height: 11px;
	box-sizing: content-box;
	line-height: 100%;
	margin-left: 5px;
	border: none;

}
.button1 {
	color: $color3;
	background-color: $color4;
	border-bottom-color: $color4n2;
	border-top-color: $color4n1;

}
.button2 {
	color: #000;
	background-color: $color5;
	border-bottom-color: $color5n2;
	border-top-color: $color5n1;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ffe486;
}
.outer-vert {
	padding-top: 20px;
	padding-bottom: 20px;
}
a {
	color: $color10;
}
p {
	font-size: 14px;
}
header {
	padding-bottom: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	// overflow: hidden;
}
.top {
	background-color: rgb(44, 44, 44);
	height: 79px;	
}
.logo__link {
	display: inline-block;
}
.logo__image {
	max-width: 256px;
	width: 100%;
}
.search-outer {
	padding-left: 34px;
}
.search {
	margin-top: 2px;
}
.search__input {
	height: 26px;
	padding: 5px 7px;
	font-size: 14px;
	float: left;
	vertical-align: top;
	width: 81.4%;
	max-width: 436px;
}
.search__input::-webkit-input-placeholder {color:$color2;}
.search__input::-moz-placeholder          {color:$color2;}/* Firefox 19+ */
.search__input:-moz-placeholder           {color:$color2;}/* Firefox 18- */
.search__input:-ms-input-placeholder      {color:$color2;}

.search__button-outer {
	vertical-align: top;
	float: left;
}


.autorization {
	float: right;
	padding-right: 14px;
}
.autorization-list li {
	display: inline-block;
	a {
		color: $color6;
		font-size: 12px;
		line-height: 14.4px;
		text-decoration: none;
		border-bottom: 1px solid $color6;	
	}
}
.autorization-list li+li {
	margin-left: 18px;
}
.nav {
	padding: 0 15px;
	background-color: #000;
	text-align: center;
	font-size: 0;
}
.nav-list {
	display: inline-block;

}
.nav-list > li {
	float: left;
	line-height: 100%;
	position: relative;
}
.nav-list > li > a {
	padding: 14px 19px;
	color: $color3;
	line-height: 100%;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	transition: 0s;
	display: inline-block;
	position: relative;

}

.nav-list > li+li {
	margin-left: 0px;
}
.nav-list li:hover a {
	color: #000;
	transition: 0s;
}
.nav-list > li:hover a {
	background-color: #fff;
}
.nav-list > li > ul {
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 999;
	min-width: calc(100% + 40px);
	padding: 10px 0;
	margin-top: -12px;
	text-align: left;
} 
.nav-list > li > ul > li > a {
	color: #000;
	display: block;
	font-size: 13px;
	padding: 7px 19px 7px 19px;
	color: $color3;
	line-height: 100%;
	text-decoration: none;
	font-weight: bold;
	transition: 0s;
	position: relative;
	white-space: nowrap;
}
.nav-list > li > ul > li > a:hover {
	background-color: #202020;
	color: #ccc;
}
.main-content, .banner {
	z-index: 1;
	position: relative;
}
.nav-list > li > ul {
	display: none;
	transition: 0.4s;
}
.nav-list > li:hover > ul {
	display: block;
}
.nav-list > li > a:after {
	content: '';
	display: none;
	transition: 0.4s;
	position: absolute;
	width: 0;
	height: 0;
  top: 0;
  right: -30px;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 44px solid white;
}
.nav-list > li:hover > a:after {
	display: block;
}



.banner__image {
	transform: translateZ(0);
	display: block;
}
.image-prewiew {
	padding: 5px;
	border: 1px solid $color7;
}




.main-content {
	background-color: #fff;
	padding-top: 26px;
	padding-bottom: 26px;
}
.layout {
	padding-left: 15px;
	padding-right: 15px;
}
.parent-sticker {
	position: relative;
}
.sticker {
	position: absolute;
	top: -11px;
	left: -5px;
}
.sticker:before {
	content: '';
	position: absolute;
	top: 100%;
	width: 5px;
	height: 5px;
	background: url('../img/icon/sticker-arrow.png') 0 0 no-repeat;
	z-index: 1;
}
.sticker-item {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 19px;
	padding-right: 19px;
	color: $color3;
	background-color: $color8;
	border-bottom: $color8n2 solid 2px;
	border-top: $color8n1 solid 1px;
	line-height: 100%;
	font-weight: bold;
	font-size: 21px;
	text-shadow: 0 -1px 0 #be433a;
	position: relative;
	z-index: 2;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}
.center-section-preview {
	float: left;
}

.inner-image-prewiew {
	position: relative;
	height: 100%;
  overflow: hidden;
}

.inner-section {
	padding-bottom: 29px;
}
.outer-section-description__text {
	padding-bottom: 5px;
}
.center-section-description {
	text-align: center;
	padding-top: 28px;
	.title-description {
		display: block;	
		text-align: center;	
		text-decoration: none;	
		padding-bottom: 19px;

	}
}
.section-description {
	float: left;
}
.title-description {
	font-weight: bold;
	color: $color1;
	font-size: 22px;
	line-height: 100%;
}
.center-info-section {
	padding-bottom: 17px;
}
.comment-info {
	margin-left: 4px;
	text-decoration: none;
}
.date-info, .comment-info {
	font-size: 14px;
	color: $color1;
}
.date-info {
	font-weight: bold;
}
.comment-info:before {
	@extend .sprite;
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;

}
.section-description__text {
	line-height: 19.6px;
	font-size: 14px;
	color: $color9;
	
}
.center-section-description .section-description__text {
	max-width: 311px;
	display: inline-block;
	padding-bottom: 20px;
}


.outer-shadow {
	position: relative;
	// padding-top: 8px;
}
.outer-shadow:before {
	content: '';
	display: block;
	width: 100%;
	height: 13px;
	background: url('../img/design/shadow1.png') 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  z-index: 2;
}
.parent-news {
	position: relative;
	z-index: 1;
	background: #f2f2f2 url(../img/design/bg-c-a.jpg) 0 0 repeat-y;
	background-size: contain;
}
.outer-vert.outer-shadow {
	position: relative;
	padding-top: 31px;
}
.section-content {
	float: left;
	// width: 68%;
	// max-width: 795px;
	background-color: #fff;
  padding-top: 31px;
  padding-bottom: 15px;
}
.section-gray {
	float: left;
	width: 100%;
	box-sizing: border-box;
	background-color: #f2f2f2;
}
.section-gray__item {
	padding: 41px 0;
	text-align: center;
}
.section-gray__item img {
	display: inline-block;
	max-width: 240px;
}
.outer-news {
	background-color: $color11;
}
.news-item {
	// width: 50%;
	float: left;
}
.image-prewiew {
	display: block;
}
.news-item__prewiew {
	// padding-bottom: 5px;
}
.image-shadow:after {
	content: '';
	display: block;
	height: 18px;
	width: 100%;
	background: url('../img/design/sh.png') 0 0 no-repeat;
	background-size: contain;
}

.title--normal {
	font-weight: bold;
	font-size: 16px;
	line-height: 19.2px;
}
.news-title {
	color: #000;
	padding-bottom: 7px;
}
.news-title a, .news-child-desc a {
	text-decoration: none;
	color: #000;
}
.outer-news-date {
	padding-bottom: 11px;
}


.news-child-title {
	padding-bottom: 11px;
}
.news-child-desc{
	color: $color2;
	font-family: 'Arial';
	padding-bottom: 13px;
}
.news-child__item {
	border-bottom: 1px solid #e6e6e6;
}
.news-child__item+.news-child__item{
	padding-top: 17px;
}
.news-item2 {
	padding: 0 15px;
}
.outer-dop-news {
	text-align: right;
}
.outer-content .outer-dop-news {
	padding-top: 36px;
	padding-bottom: 10px;
}
.dop-news {
	display: inline-block;
}
.dop-news li {
	display: inline-block;
}
.dop-news li+li {
	padding-left: 9px;
}
.outer-dop-news {
	padding-top: 15px;
}
.outer-dop-news * {
	font-size: 14px;
}
.rss {
	text-decoration: none;
}
.rss:before {
	content: 'RSS';
	line-height: 100%;
	padding: 2.5px 10px;
	background-color: #ff8000;
	color: #fff;
}
.section-black {
	background-color: #202020;
}
.section-black-item {
	float: left;
}
.section-black-item1 {
	// max-width: 65.8%;
}
.section-black-item2 {
	// max-width: 34.2%;
}
.section-black__title {
	color: #fff;
	line-height: 100%;
  font-weight: bold;
  font-size: 18px;
  margin-right: 15px;
  max-width: 370px;
  overflow: hidden;
  white-space: nowrap;			
}
.section-black-head-item {
	float: left;
}
.section-black__check-list {
	line-height: 100%;
}
.section-black__check-list li {
	float: left;
	font-size: 14px;
	
	font-weight: bold;
}
.section-black__check-list li span {
	padding: 8px 15px;
	cursor: pointer;
}
.section-black__check-list .active span {
	border: 1px solid #6e6e6e;
	border-bottom: none;
	color: #fff;
}
.section-black__check-list .default span {
	border-bottom: 1px solid #6e6e6e;
	color: #999999;
}
.section-black__rss {
	float: right;
}
.outer-section-black-item {
	max-width: 695px;
	float: left;
}
.section-black-video {
	padding-top: 15px;
}
.video-prewiew {
	position: relative;
}
.video-prewiew__item {
	padding: 5px;
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.video-prewiew:before {
	content: '';
	position: absolute;
	z-index: 2;
	width: 186px;
	height: 187px;
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
	background-position: 0 -15px;
	left: 50%;
	top: 50%;
	cursor: pointer;
	margin-left: -93px;
	margin-top: -93px;
}
.video-prewiew img {
	position: relative;
	z-index: 1;
}
.video-prewiew__play {
	// position: absolute;
	// z-index: 2;
	// width: 186px;
	// height: 187px;
	// background: url('../img/icon/sprite.png') 0 0 no-repeat;
	// background-position: 0 -15px;
	// left: 50%;
	// top: 50%;
	// cursor: pointer;
	// margin-left: -93px;
	// margin-top: -93px;
}
.section-video .video {
	// height: 493px;
}
.video-prewiew {
	// padding: 5px;
	// background-color: #fff;
}
.section-video .head-desc .item a {
	float: left;
	color: #fff;
	font-size: 15px;
	text-decoration: none;	
}
.section-video .head-desc .item2 {
	float: right;
	// margin-top: 6px;
}
.section-video .item__icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-position: -13px 0;
	margin-right: 6px;
}

.button3  {
	font-weight: normal;
	font-size: 14px;
	color: $color3;
	background: #f7594d;
	background: -moz-linear-gradient(top,  #f7594d 0%, #df3f32 100%);
	background: -webkit-linear-gradient(top,  #f7594d 0%,#df3f32 100%);
	background: linear-gradient(to bottom,  #f7594d 0%,#df3f32 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7594d', endColorstr='#df3f32',GradientType=0 );
	border-bottom: $color8n2 solid 2px;
	border-top: $color8n1 solid 1px;
	line-height: 100%;
}
.section-video .item2 .number {
	margin-right: 10px;
}
.section-video .head-desc {
	padding-top: 14px;
}
.link__download span {
	border-bottom: 1px dotted #fff;
	margin-right: 5px;
}
.link__download {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}
.link__download-icon {
	width: 24px;
	height: 23px;
	display: inline-block;
	background-position: 0 -210px;
	vertical-align: middle;
}
.section-video .info {
	color: #fff;
}
.section-video .title {
	font-size: 23px;
	font-weight: bold;
	line-height: 100%;
	padding-bottom: 3px;
	
}
.section-video .mini-desc {
	line-height: 100%;
	padding-bottom: 10px;
	font-weight: bold;
}
.section-video .info .text {
	font-size: 13px;
}
.section-video .info .producer, .section-video .info .name {
	padding-bottom: 1px;
}
.section-video .download {
	padding: 13px 0;
}
.list-item {
	display: none;
}
.inner-list-item {
	display: none
}
.inner-list-item.active {
	display: block
}
.outer-list-item {
	display: none
}
.outer-list-item.active {
	display: block
}
.list-item.active {
	display: block;
}
.social-list--horizontal li {
	 float: left;	 
}
.social-list li {
	// padding: 2px;
}
.social-list li a span {
	line-height: 100%;
	display: inline-block;
}
.social-list li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
	line-height: 100%;
	display: inline-block;
	padding: 2px;
}
.social-list li+li {
	margin-left: 4px;
}
.social-list .number {
	padding: 5px 8px;
	border-left: 1px solid rgba(255,255,255,0.4);
}

.social-list a:before {
	content: '';
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
	vertical-align: middle;	
	margin: 0 5px;
}

.social-list .vk a {
	background-color: #48729e;
}
.social-list .vk a:before{
	width: 16px;
	height: 10px;
	display: inline-block;
	background-position:  0 -242px;
	margin-top: -2px;
}

.social-list .fb a {
	background-color: #3b5998;
}
.social-list .fb a:before{
	width: 12px;
	height: 17px;
	display: inline-block;
	background-position:  -23px -242px;
	margin-top: -3px;
}

.social-list .ok a {
	background-color: #eb722e;
}
.social-list .ok a:before{
	width: 12px;
	height: 17px;
	display: inline-block;
	background-position:  -40px -242px;
	margin-top: -3px;
}

.social-list .pinterest a {
	background-color: #c20724;
}
.social-list .pinterest a:before{
	width: 13px;
	height: 16px;
	display: inline-block;
	background-position:  -56px -242px;
	margin-top: -3px;
}
.outer-social {
	padding-bottom: 30px;
}
.section-black-item2 {
	padding-left: 15px;
}
.video-prewiew-nav-head {
	padding-bottom: 20px;
}
.video-prewiew-nav-list {
	display: none;
}
.video-prewiew-nav-list.active {
	display: block
}
.video-prewiew-nav-list li {
	float: left;
	line-height: 100%;
}

.video-prewiew-nav-list li span {
	line-height: 100%;
	font-size: 12px;
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;	
	font-weight: bold;
}
.video-prewiew-nav-list li.active span {
	color: #fff;
}
.video-prewiew-nav-list li.default span {
	color: #999999;
	border-bottom: 1px dotted #999999;
}
.video-prewiew-nav-list li+li {
	padding-left: 13px;
}
.video-prewiew-list {
	display: none
}
.video-prewiew-list.active {
	display: block
}
.video-prewiew-list > li .chief {
	padding-right: 60px;
	line-height: 19.2px;
	padding-bottom:0px;
}
.video-prewiew-item__title {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.video-prewiew-item__title-en {
	color: #9a9a9a;
	font-size: 16px;
}
.video-prewiew-list > li {
	padding: 12px 13px;
	cursor: pointer;
}
.video-prewiew-list > li.active {
	background-color: rgba(255,255,255,0.12);
}
.video-prewiew-list > li.default {
	background-color: rgba(255,255,255,0.05);
}
.name-trailer {
	color: #df4839;
	font-size: 14px;
	padding-bottom: 0;
}
.video-prewiew-list .item {
	position: relative;
}
.video-prewiew-list li+li {
	border-top: 1px solid #202020;
}
.video-sticker-list li+li {
	margin-left: 10px;
}
.video-sticker-list {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9.5px;
}
.video-sticker__icon {
	width: 19px;
	height: 19px;
	float: left;
	
}
.rus__icon{
	background-position: -222px 0;
}
.like__icon{
	background-position: -191px 0;
}
.outer-content {
	background: #f2f2f2 url('../img/design/bg-c-a.jpg') 0 0 repeat-y;
	background-size: contain;
}
.outer-aside {
	padding: 12px 0 50px 15px;
}
.aside {
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);

}
.aside:before {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	top: -3px;	
	background: url('../img/icon/pattern.png') 0 0 repeat-x;
}
.aside:after {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: -3px;	
	background: url('../img/icon/pattern2.png') 0 0 repeat-x;
}
.inner-aside {
		padding: 28px 15px 0 15px;
}

.aside-item {
	text-align: center;
	padding-bottom: 30px;
}
.aside-item+.aside-item {
	padding-top: 30px;
	border-top: 1px solid #e5e5e5;
}
.aside__title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	padding-bottom: 15px;
}
.aside-list {
	// display: table;
	// width: 100%;
	display: inline-block;
}
.aside-list li {
	padding: 6px 11px;
	cursor: pointer;
	font-weight: bold;
	float: left;
	border: 1px solid transparent;
	border-bottom: 1px solid #e5e5e5;
}
.aside-list .active {
	border: 1px solid #e5e5e5;
	border-bottom-color: transparent;
	color: #333333;
}
.aside-list .default {
	border: 1px solid transparent;
	border-bottom: 1px solid #e5e5e5;
}
.aside-result__title {
	font-size: 18px;
	color: $color10;
	padding-bottom: 1px;
	font-weight: bold;
	cursor: pointer;
}
.aside-result__title:hover {
	color: #df4639;
}
.aside-result__title:hover .aside-result__title-text {
	border-bottom: 1px solid #df4639;
}
.aside-result__title-text {
	border-bottom: 1px solid $color10;
}
.outer-aside-list {
	padding-bottom: 11px;
	// padding-left: 31px;
	// padding-right: 31px;
}
.aside-result__dop {
	font-size: 13px;
	color: #8c9191;
	padding: 0;
}
.aside-result__item+.aside-result__item {
	padding-top: 4px;
}
.aside-item-content {
	padding-bottom: 20px;
}
.aside-item-content .aside-result.active {
	display: block;
}
.aside-item-content .aside-result.default {
	display: none;
}
.aside-result__date-text {
	padding-bottom: 15px;
	padding-top: 3px;
	font-size: 13px;
	color: #df493a;
}
.aside-result-image {
	display: inline-block;
	position: relative;
}
.outer-number__text,.outer-number__text * {
	font-size: 14px;
	color: #df4839;
	font-weight: bold;
}
.aside-result-image .outer-number {
	width: 138px;
	height: 34px;
	text-align: center;
	display: inline-block;
	position: absolute;
	background-position: 0 -267px;
	bottom: 0;
	right: 50%;
	// margin-right: -69px;
	
	transform: translateX(50%);
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
}
.outer-number__text {
	padding-bottom: 0;
	margin-top: 5px;
}
.outer-number__text a {
	text-decoration: none;
}
.top-aside-result__outer-list {
	padding-top: 12px;
	padding-bottom: 16px;
	border-top: 1px dotted #7f7f7f;
}
.top__title {
	margin-bottom: 15px;
	display: inline-block;
}
.top-aside-result__list > li > ul  {
	text-align: left;
}
.top-aside-result__list > li > ul > li   {
	display: inline-block;
}
.top-aside-result__list .outer-name, .top-aside-result__list .price {
	background-color: #fff;
	font-size: 13px;
	font-weight: bold;
}
.top-aside-result__list .outer-name a {
	color: #000;
	text-decoration: none;
}
.top-aside-result__list .outer-name {
	float: left;
	padding-right: 5px;
}
.top-aside-result__list .price {
	float: right;
	color: #df4839;
	padding-left: 5px;
}
.top-aside-result__list {
	background: url('../img/design/dotted.png') 0 8px repeat-x;
}
.top-aside-result__outer-list > ul+ul {
	margin-top: 10px;
}
.dop-aside {
	text-align: center;
}
.dop-aside__banner {
	display: inline-block;
	padding-top: 33px;
}
.dop-aside__poster {
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 30px;
}

.aside-social li {
	float: left;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	position: relative;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	font-size: 12px;
	cursor: pointer;
}
.aside-social li span {
	text-decoration: underline;
	padding-left: 2px;
	padding-right: 2px;
}
.aside-social li+li {
	margin-left: 22px;
}
.aside-social li.active {
	background-color: #fff;
}
.aside-social li.default {
	background-color: #f2f2f2;
}
.aside-social__item:after {
	content: '';
	height: 31px	;
	width: 19px;
	display: inline-block;
	position: absolute;
	right: -19px;
	top: -2px;
	background: url('../img/icon/sprite.png') no-repeat;

}
.aside-social li.active:after {
	background-position: -159px -267px;
	
	
}
.aside-social li.default:after {
	background-position: -191px -267px;
}
.social__icon:before {
	background: url('../img/icon/sprite.png') no-repeat;
	margin-right: 6px;
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}
.social__icon-vk:before {
	background-position: 0 -310px;
}
.social__icon-fb:before {
	background-position: -23px -310px;
}
.dop-aside__item {
	padding-left: 24px;
	padding-right: 24px;
}
.dop-aside__item-content {
	background-color: #fff;
	padding: 10px;
	text-align: left;
}
.outer-content-social {
	border: 1px solid #e1e7eb;
	border-radius: 2px;
	padding: 12px;
}
.content-social-title {
	padding-bottom: 12px;
	border-bottom: 1px solid #ebeff4;
	font-size: 13px;
	font-weight: bold;
	color: $color10;
	
}
.content-social-title span {
	line-height: 100%;
	padding-bottom: 0;
}
.icon-social-group:before {
	content: '';
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url('../img/icon/sprite.png') no-repeat;
	margin-right: 11px;
	vertical-align: middle;
}
.icon-social-vk-group:before {
	background-position: -50px -310px;
}
.social-followers-row > ul > li {
	padding-top: 15px;
}
.content-social-followers {
	padding: 7px 0;
}
.social-followers-number {
	font-size: 13px;
	color: #88a2b4;
	padding-bottom: 10px;
}
.social-followers-list > li > ul > li {
	width: 25%;
	height: 42px;
	display: inline-block;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.social-followers-list > li > ul > li a {
	display: block;
	width: 100%;
	height: 100%;
}
.social-followers-list > li > ul > li img {
	display: block;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.social-followers-list > li > ul > li {
	padding-left: 9px;
	padding-right: 9px;
}
.social-followers-row {
	margin-left: -9px;
	margin-right: -9px;
}
.section-followers+.section-followers {
	margin-top: 12px;
}
.social-followers-result {
	padding-bottom: 15px;
}
.outer-button-group {
	margin-bottom: 3px;
}
.button-group {
	font-size: 12px;
	padding: 7px 5px;
	line-height: 100%;
	text-decoration: none;
	border-radius: 2px;
  display: block;
  width: 100%;
  text-align: center;
}
.button-vk-group {
	background-color: #5b7fa6;
	color: #fff;
}
.button-group__icon:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	margin-right: 6px;
}
.button-vk-group__icon:before {
	width: 16px;
	height: 10px;
	background-position: 0 -242px;
	margin-top: -1px;
}
.content-item-title {
	font-size: 16px;
	padding-bottom: 13px;
	margin-top: -5px
}

.content-item-title a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
}
.content-item-title a:hover {
	color: #df4839;
}
.content-item {
	float: left;
}
.content-item-big {
	width: 60.2%;
}
.content-item-small {
	width: 39.8%;
}
.content-item-text P {
	font-size: 14px;
	padding-bottom: 0
}
.content-item-row-image {
	position: relative;
	display: inline-block;
	height: 228px;
  width: 100%;
  overflow: hidden;
}
.content-item-image {
	min-width: 100%;
	height: 210px;
}
.parent-content-item {
	// padding-right: 15px;
	margin: 0 -7.5px;
}
.parent-content-item+.parent-content-item {
	padding-top: 11px;
}
.content-item {
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.content-item-info {
	font-size: 12px;
	position: absolute;
	display: inline-block;
	padding: 6px 15px;
	right: 8px;
	bottom: 26px;
  color: #000;
  background-color: #f9bc0b;
  border-bottom-color: #c35c00;
  border-top-color: #ffdb5d;
  text-decoration: none;
}
.content-item-info-comment {
  color: #000;
	text-decoration: none;
}
.content-item-info-comment:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-position: -26px 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	position: relative;
  top: 1px;
}
.section-mini-prewiew {
	position: relative;
	padding-bottom: 21px;
	margin-left: -15px
}
.section-mini-prewiew--yellow {
	background-color: #f9bc0b;
}
.outer-content-item {
	padding-bottom: 32px;
}
.section-mini-prewiew--yellow:before {
	content: '';
	height: 3px;
	width: 100%;
	display: block;
	background: url('../img/design/pattern3.png') 0 0 repeat-x;
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
}
.section-mini-prewiew--yellow:after {
	content: '';
	height: 3px;
	width: 100%;
	display: block;
	background: url('../img/design/pattern4.png') 0 0 repeat-x;
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
}
.section-mini-prewiew-list {
	width: 100%;
	// display: table;
	position: relative;
}
.outer-section-mini-prewiew-list:after{
	content: '';
	display: block;
	width: 100%;
	height: 13px;
	left: 0;
	right: 0;
	bottom: -13px;
	background: url('../img/design/shadow2.png') 0 0 no-repeat;
	background-size: contain;
}
.section-mini-prewiew-list li {
	// display: table-cell;
	display: inline-block;
	float: left;
	width: 25%;
	padding: 15px 0;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
}
.outer-section-mini-prewiew-item {
	margin-left: -7.5px;
	margin-right: -7.5px;
	padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
}
.section-mini-prewiew-wrap-item {
	overflow: hidden;
}
.inner-section-mini-prewiew-item {
	width: 25%;
	padding-left: 7.5px;
	padding-right: 7.5px;
	float: left;
}
.section-mini-prewiew-item {
	position: relative;
	width: 100%;
	height: 100%;
}
.section-mini-prewiew-item__image {
  display: block;
  // position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 7px; 
  background-color: #fff;
}
.section-mini-prewiew-item-text {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding-top: 13px;
}
.section-mini-prewiew-item-text .content-item-info-comment {
	font-weight: normal;
}
.section-mini-prewiew-item-text a {
	text-decoration: none;
	color: #000;
}
.section-mini-prewiew-item-text a:hover {
	text-decoration: underline;
}
.content-item-dop-title {
	background-color: #f2f2f2;
}
.content-item-dop-title {
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	padding: 8px 20px;
	font-weight: bold;
}
.content-item-dop-date {
	color: $color8;
	border-bottom: 1px dotted $color8;
	margin: 0 10px;
	text-decoration: none;
	cursor: pointer;
}
.icon-date:before {
	content: '';
	width: 18px;
	height: 17px;
	display: inline-block;
	background-position: -191px -27px;
	vertical-align: middle;
}
.content-item-dop-section {
	padding: 28px 100px;
}
.happy-author .slide-icon {
	cursor: pointer;
}
.happy-author .slide-icon:before {
	content: '';
	width: 36px;
	height: 36px;
	display: inline-block;
}

.happy-author .slide-prev-icon:before {
	background-position: -191px -51px;
}
.happy-author .slide-next-icon:before {
	background-position: -232px -51px;
}
.content-item-dop-section .owl-carousel.owl-loaded {
	position: relative;
}
.content-item-dop-section .slide-prev {
	position: absolute;
	left: -71px;
}
.content-item-dop-section .owl-stage-outer {
	z-index: 2;
}
.content-item-dop-section .slide-next {
	position: absolute;
	right: -71px;
}
.content-item-dop-section .owl-nav {
	width: 100%;
	top: 50%;
	margin-top: -33px;
	z-index: 1;
	position: absolute;
}
.row-item-image {
	position: relative;
	width: 101px;
	height: 129px;
	display: table-cell;
	vertical-align: middle;
}
.content-item-dop-section .item-text {
	display: table-cell;
	vertical-align: middle;
}
.content-item-dop-section .item {
	display: table;
	padding-bottom: 18px;
}
.content-item-dop-section .owl-carousel .image-shadow:after {
	position: absolute;
	bottom: -18px;
}
.content-item-dop-section .item-text {
	padding-left: 10px;
}
.content-item-dop-section .item-text {
	font-weight: bold;
}
.content-item-dop-section .item-text .item-text-title a {
	text-decoration: none;
	color: #535353;
	font-size: 16px;
}
.content-item-dop-section .item-text .item-text-date {
	color: #8c9191;
	font-size: 13px;
}

.inner-footer {
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: #202020;
	position: relative;
	text-align: center;
}
.footer-sticker {
	font-size: 18px;
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-50%);
}
.footer-sticker:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -6px;
	top: 0;
	background: url('../img/design/button-footer-a.png') 0 0 no-repeat;
}   
.copy-paste {
	font-size: 13px;
	color: #cccccc;
	padding-bottom: 22px;
}
.footer .mail {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 19px;
}
.footer-nav {
	padding-bottom: 20px;
}
.footer-nav-list {
	display: inline-block;
	vertical-align: middle;
}
.outer-footer-nav-list a {
	// float: left;
	color: #df493a;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}
.footer-nav-list li {
	float: left;
	vertical-align: middle;
}
.footer-nav-list li+li {
	padding-left: 20px;
}
.footer-nav-list li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	display: block;
}
.outer-footer-nav-list+.outer-footer-nav-list {
	padding-top: 10px;
}
.footer .social-list {
	display: inline-block;
}
.footer .outer-social {
	padding-bottom: 26px;
}
.copyright {
	color: #df493a;
	font-size: 12px;
	padding-bottom: 20px;
}
.metrica {
	padding-bottom: 30px;
}
.planeta-inform {
	padding-bottom: 30px;
}
.sticker {
	left: -20px;
}
.section-news {
	padding-left: 15px;
	padding-right: 15px;
}
.mobile-section-black__check-list {
	display: none;
}
.result-list {
	display: none;
	background-color: #FFF;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;
	padding: 5px 0;
	width: 100%;
}
.result-list li {
	padding: 5px 11px;
  display: block;
}
.result-list.active {
	display: block
}
.mobile__select .result {
	background-color: #fff;
	padding: 2px 30px 2px 10px;
	color: #000;
	display: inline-block;
	border: 1px solid #ccc;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.mobile__select {
	width: 100%;
	position: relative;
}
.mobile__select .result:after {
	content: '';
	width: 27px;
	height: 100%;
	display: inline-block;
	border-left: 1px solid #adadad;
	// background-color: #000;
	background: url('../img/icon/sprite.png') center center no-repeat;
	background-position: -31px -210px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.tablet-autorization-outer {
	display: none;
	float: left;
	width: 25%;
	margin-top: -2px;
	margin-left: -15px;
	margin-right: -15px;

}
.outer-brang-bg {
	height: 100%;
	height: 1400px;
	position: absolute;
	background-color: #4DA6FF;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}
.inner-brand-bg {
	width: 100%;
	height: 100%;
}
.brand-bg {
	width: 100%;
	height: 100%;
	
	
	
}
.link-brand-bg {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	
}
.link-brand-bg >* {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	top: 5%;
}
.section-news .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	// top: 74%;
  left: 30%;
}
.section-news .bx-wrapper .bx-pager.bx-default-pager a {
	display: inline-block;
	margin: 0 13.5px;
}
.section-news .bx-wrapper .bx-pager.bx-default-pager a,.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background-color: #fff;
	transition: 0s;
}
.section-news .bx-wrapper .bx-pager-item a.active {
	width: 30px;
	height: 30px;
	border-radius: 50%;	
	border: 2px solid #fff;
	vertical-align: middle;
	background: none;
	margin: 0 4px;
	position: relative;
	top: -3px;
	transition: 0s;
	
}
.section-news .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: none;
}
.section-news .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	width: auto;
}
.section-gray-poster {
	padding-right: 0;
}
.content-item-dop-section .bx-controls a {
	background: url('../img/icon/sprite.png') 0 0 no-repeat;
	width: 36px;
	height: 36px;
}
.content-item-dop-section .bx-controls .bx-prev {
	left: -65px;
  top: 66px;
  background-position: -191px -51px;
}
.content-item-dop-section .bx-controls .bx-next {
	right: -60px;
  top: 65px;
  background-position: -232px -51px;
}
.info a {
	color: #fff;
}
.outer-list-result {
	display: none
}
.outer-list-result.active {
	display: block
}
.outer-mobile-nav {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #F9BC0B;
	overflow-y: scroll;
}
.its-node a {
	display: inline-block;
	width: 80px;
}
.mobile-nav-button__close {
	width: 100%;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #807770;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.outer-mobile-nav .close {
	text-align: center;
}
.mobile-nav-list {
	text-align: left;
	padding: 40px;
}
.mobile-nav-list > li > a {
	display: block;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.mobile-nav-list > li+li {
	padding-top: 50px;
}
.mobile-nav-list > li > ul {
	padding-left: 30px;
}
.mobile-nav-list > li > ul > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	font-size: 22px;
	color: #272727;
	text-decoration: none;
	position: relative;
	font-weight: bold;
}
.mobile-nav-list > li > ul > li+li > a:before {
	content: '';
	display: block;
	height: 1px;
	width: calc(100% + 30px );
	background-color: #af8408;
	position: absolute;
	top: 0;
	left: -30px;
	right: 0;
}
.news-link-desc a  {
	color: #000;
	text-decoration: none;
	border: none;
}
.news-link-desc a > span  {
	color: #0b97b2;
}
.content-social {
	display: none;
}
.content-social.active {
	display: block;
}
.content-item-dop-title {
	position: relative;
}
.outer-calendar.default {
	display: none;
}
.outer-calendar.active {
	display: block;
}
.outer-calendar {
	position: absolute;
	top: 35px;
	left: 50px;
	z-index: 99;
	background-color: #fff;
	padding: 7px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.outer-calendar th {
	padding: 5px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.outer-calendar tbody td {
	font-weight: 300;
	text-align: center;
	font-size: 13px;
	padding: 5px;
	cursor: pointer;
	// border-radius: 50%;
}
.outer-calendar tbody td:hover {
	background-color: #EEEEEE;
}
.outer-calendar tbody td.today {
	background-color: #FF8000;
	color: #fff;
}
.outer-calendar tbody td.active {
	background-color: #F5574B;
	color: #fff;
}
.outer-calendar tbody td.old, .outer-calendar tbody td.new {
	opacity: 0.5;
}
.outer-calendar .date th:hover {
	background-color: #EEEEEE;
}
.mail a {
	color: #fff;
}
.section-mini-prewiew.mobile {
	display: none;
}













































  






/*MEDIA2 compress
========================================================*/

@media (max-width: 1200px) {
	.content-item-image {
		height: 100%;
		max-width: none;
	}
	.content-item-info {
    bottom: 7px;
    right: 2px;
	}
	.outer-aside-list {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 1121px) {
	.dop-aside__item {
		padding-left: 0;
		padding-right: 0;
	}
	.outer-aside-list {
		padding-left: 5px;
		padding-right: 5px;
	}
	.aside-list li {
		padding: 6px 5px;
	}
	.video-prewiew-nav-list li + li {
		padding-left: 0;
	}
	.video-prewiew-nav-list li {
		padding-right: 15px;
	}
}
@media (max-width: 992px) {
	.main-aside {
		display: none;
	}
	.outer-section-mini-prewiew {
		padding-right: 0;
	}
	.section-content,.section-news,.parent-content-item {
		padding-left: 0;
		padding-right: 0;
	}
	.content-item-big,.content-item-small {
		width: 50%;
	}
	.content-item-image {
		// height: 100%;
		max-width: none;
	}
	.content-item-row-image {
		padding: 5px;
    border: 1px solid #ebebeb;
    overflow: visible;
    margin-bottom: 18px;

	}
	.center-section-description .section-description__text {
		max-width: none;
	}
	.section-gray__item img {
		margin-right: -15px;
	}
	.content-item-row-image > a {
		display: block;
		height: 100%;
		
    overflow: hidden;

	}
	.content-item-row-image .image-prewiew {
		border: none;
		padding: 0;
		height: auto;
		min-height: 100%;
	}
	.content-item-row-image.image-shadow:after {
		position: absolute;
		bottom: -18px;
    left: 0;
    right: 0;
	}
	.content-item-info {
    bottom: 7px;
    right: 7px;
	}
	.center-section-preview .image-prewiew {
		min-width: 100%;
	}
	.main-content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sticker {
		left: -5px;
	}
	.autorization-outer {
		display: none;
	}
	.autorization {
		padding-right: 0;
    float: none;
    text-align: left;
	}
	.tablet-autorization-outer {
		display: block;
    position: relative;
    top: 15px;
	}
	.nav .nav-list {
		float: right;
		width: 75%;
		text-align: right;
	}
	.nav-list li {
		float: none;
		display: inline-block;
	}
	.nav-list li + li {
		margin-left: 10px;

	}
	.nav-list>li>a {
		padding: 14px 3px;
	}
	.search-outer {
		padding-left: 0;
	}
	.search__input {
		width: 80%;
	}
	.search__button-outer {
		width: 20%;
	}
	.outer {
		padding-top: 0;
	}
	.sticker:before {
		background: none;
	}
	.inner-section-mini-prewiew-item:nth-last-child(1),.section-mini-prewiew-list li:nth-last-child(1) {
		display: none;
		
	}
	.inner-section-mini-prewiew-item,.section-mini-prewiew-list li {
		width: 33.333%;
	}
	.section-mini-prewiew-item__image {
		min-width: 100%;
		margin: 0;
	}
	.footer-nav-list li + li {
		padding-left: 10px;
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
	}
	.section-news .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		left: 50%;
		transform: translateX(-50%);
	}

}
@media (max-width: 768px) {
	.mobile-nav {
		display: block;
	}
	
	.parent-content-item {
		padding-right: 0;
	}
	.section-content {
		width: 100%;
	}
	.content-item-dop {
		display: none;
	}
	
	.section-gray-poster {
		display: none;
	}
	
	.news-item__prewiew {
		display: none;
	}
	.news-item {
		float: none;
	}
	.news-item+.news-item {
		padding-top: 15px;
	}
	.sticker {
		float: none;
		width: 100%;
		left: 0;
	}
	
	.section-black__rss {
		display: none;
	}
	.search-outer {
		display: none;
	}
	.parent-news .news-item:first-child {
		padding-top: 60px;
	}
	
	.tablet-autorization-outer {
		display: none;
	}
	.autorization-outer {
		display: block;
	}
	.nav {
		display: none;
	}
	.top {
    padding-top: 0;
    padding-bottom: 0;
	}
	.outer-logo {
		padding-top: 25px;
    padding-bottom: 12px;
	}
	.top > div {
    
    height: 100%;
	}
	.mobile-nav {
		padding: 0;
		padding-right: 15px;
	}

	.mobile-nav-button {
		background: url('../img/icon/mni.png') center center no-repeat;
		display: block;
		height: 100%;
		width: 100%;
		float: right;
		padding-left: 15px;
		padding-right: 15px;
	}
	.autorization,.autorization-list,.autorization-list li, .autorization-list li a {
    height: 100%;
	}
	.autorization {
		float: right;
	}
	.autorization-list li a {
		text-decoration: underline;
		border: none;
		padding: 0 5px;
		display: inline-block;
	}
	.autorization-list li + li {
		margin-left: 0;
	}
	.autorization-list li span {
		display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	}
	.footer-nav {
		display: none;
	}
	.copy-paste {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sticker-item {
		margin: 0 -15px;
		border-bottom: none;
    box-shadow: 0px 0px 0px transparent;
	}
	.main-content {
		padding: 0;
	}
	.center-section-description, .outer-section, .center-section-description .outer-desc {
		padding-left: 15px;
		padding-right: 15px;
	}
	.outer-news {
		background: none;
	}
	.section-news, .section-black-item {
		padding: 0;
	}
	.center-section-description .title-description, .center-section-description {
		text-align: left;
	}
	.center-info-section, .news-link-desc , .news-child-desc , .content-item-row-image {
		display: none;
	}
	.news-title {
		font-weight: normal;
	}
	.news-item .news-title:not(.news-child-title) {
		border-bottom: 1px solid #e6e6e6;
	}
	.parent-content-item {
		padding-top: 50px;
	}
	.outer-content {
		background: none;
	}
	.content-item-text {
		display: none;
	}
	.content-item-title a {
		font-weight: normal;
	}
	.main-aside {
		display: block;
		padding: 0;
	}
	.no-mobile {
		display: none;
	}
	.outer-aside {
		padding: 0;
	}
	.aside:before , .aside:after {
		background: none;
	}
	.aside-item+.aside-item {
		border-color: transparent;
	}
	.aside-list li {
		padding-left: 15px;
		padding-right: 15px;
	}
	.section--yellow {
		background-color: #F9BC0B;
	}
	.section-mini-prewiew {
		margin-right: -15px;
	}
	.section-mini-prewiew.mobile {
		display: block;
		padding-top: 30px;
	}
	.mobile {
		.section-mini-prewiew-item img{
			padding: 40px 40px 20px;
			background: none;
		}
		.section-mini-prewiew-item-text {
			font-weight: normal;
			font-size: 15px;
		}
		.inner-section-mini-prewiew-item:nth-last-child(1) {
			display: block;
		}

		
	}
	.recomenned {
			padding-bottom: 0;
		}
	.content-outer {
		padding-bottom: 0;
	}
	.aside {
		box-shadow: 0 0 0 transparent;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
	}
	.inner-aside {
		background-color: #DDDDDD;
	}
	
}
@media (max-width:600px ) {
	.section-black__check-list {
		display: none;
	}
	.section-black__rss {

	}
	.section-black-item2 {
		display: none;
	}
	.section-black__rss {
		display: none;
	}
	.mobile-section-black__check-list {
		display: block;
		// width: 50%;
	}
	.section-black__title {
		width: 50%;
		margin-right: 0;
		margin-top: 5px;
	}
	.outer-section-black-item {
		width: 100%;
	}
	.section-black__check {
		width: 50%;
	}
	.section-black-item2 {
		display: none;
	}

}
@media (max-width:544px ) {
	.autorization-outer {
		display: none;
	}
	.content-item-big,.content-item-small {
		width: 100%;
		float: none;
	}
	.content-item+.content-item {
		padding-top: 30px;
	}
	.inner-section-mini-prewiew-item,.section-mini-prewiew-list li {
		width: 100%;
	}
	.inner-section-mini-prewiew-item {
		display: block;
		float: none;
	}
	.inner-section-mini-prewiew-item:not(:nth-child(1)) img {
		display: none;
	}
	.section-mini-prewiew-item__image {
		min-width: 100%;
		margin: 0;
	}
	.autorization-outer {
		display: none;
	}
	.mobile-nav-button {
		background: url('../img/icon/mni.png')  right 15px center no-repeat;
	}
	.sticker-item {
		text-align: center;
	}
	.mobile-nav-list {
		padding: 20px;
	}
	.section-mini-prewiew-list {
		display: none;
		
	}
}
@media (max-width:400px ) {
}




